{% extends 'base.html' %}
{% block title %}{{post.title}}{% endblock %}
{% block content %}
<h1>{{post.title}} </h1>
<br>
<h4>By:{{post.author}}</h4>
<br>{{post.body|safe}}<br>{{post.status}} {{post.post_date}}<br>
{% if user.id == post.author.id %}
<a href="{% url 'update_post' post.pk %}">Edit</a>
<a href="{% url 'delete_post' post.pk %}">Delete</a>
{% endif %}
<h2>Comments</h2>
{% if not post.comments.all %}
No comments Yet....<a href="{& url 'add_comment' post.pk %}">Add One</a>
{% else %}
<a href="{% url 'add_comment' post.pk %}">Add Comment</a><br><br>

   {% for comment in post.comment.all %}
<strong>
{{comment.name}}-
{{comment.date_added}}
</strong>
<br/>
{{comment.body}}
{% endfor %}
{% endif %}<br>
<a href="{% url 'home' %}">Back</a>
<br><br>
<br>
<form action="{% url 'like_post' post.pk %}" method="POST">
   {% csrf_token %}
   <button type="submit", name="post_id", value="{{post.id }}" class="btn btn-secondary-sm">Like</button>
</form>

{% endblock %}