{% extends 'base.html' %}
{% block content %}

{% if category_posts %}
<h1>{{ cats }} </h1>
<div class="row">
{% for post in category_posts %}

<div class="card col-4 m-2" style="max-width: 320px;">
<img class="card-img-top mt-2 mr-2" src="{{post.Image.url}} ">
        <div class="card-body">
          <h5 class="card-title"><a href="">{{post.title}}</a></h5>
          <p class="card-text"><br>{{post.article_snippet}}</p><br><br>
          <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Read More</a>
        </div>
       </div>
         
      
      
    
{% endfor %}
</div>
{% else %}
<h2> Sorry this page does not exist!</h2>
{% endif %}
{% endblock %}