{% extends 'base.html' %}
{% block title %}Blog{% endblock %}
{% block content %}
{% for msg in message %}
  {{msg}}
  {% endfor %}


{% for post in object_list %}
  
   <div class="card" style="width:300px; height: 40em;">
    <img class="card-img-top" src="{{post.Image.url}} ">
    <div class="card-body">
      <h5 class="card-title"><a href="">{{post.title}}</a></h5>
      <p class="card-text"><a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a><br>{{post.article_snippet}}</p>
      <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Read More</a>
    </div>
   </div>
     
  
  
    
</ul>
{% endfor %}


{% endblock %}