

 {% extends 'base.html' %}
  {% block content %} 
  <form method="POST" class="from-group">
    {% csrf_token %}
    <div class="Login-form">
        <form class="A1">
            <h1><b>Login</b></h1>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Username">Username:</label>
            <input type="Username" id='Username' name="username" class="form-control item" placeholder="Username" required>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="Password">Password:</label>
            <input type="Password" id="cpass" name="password" class="form-control item" placeholder="Password" required>
        </div>
    </div>
</div>
    <button type="submit" class="btn btn-success">Login</button>
    <p>Don't have an Account?</p>  <a href="{% url 'register' %}">Register</a></p>
  </form>
  {% endblock %}