{% extends 'base.html' %}
{% load static %}
{% block title %} {{post.title }}
{% endblock %}

{% block content %}
<h6>By: {{post.author}}</h6>
<br>
{{post.body}}
<br>
<img src="{{ post.Image.url}}">
{% if user.id == post.author.id %}
<a href="{% url 'update_post' post.pk %}">Edit</a>
<a href="{% url 'delete_post' post.pk %}">Delete</a>
{% endif %}

<br>
<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-2">

{% if post.author.profile.profile_pic %}
        <img src="{{ post.author.profile.profile_pic.url }}" class="img-fluid rounded-start" alt="...">
{% else %}
<img src="{% static 'static/blog/images/Default_Profile_Picture.png' %}" class="img-fluid rounded-start" alt="...">
  
{% endif %}        
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{post.author}}</h5>
          <p class="text-muted">
            
            {% if post.author.profile.facebook_url  %}
            <a href="{{post.author.profile.facebook_url}}">Facebook</a>
            {% endif %}| 
            {% if post.author.profile.twitter_url %}
            <a href="{{post.author.profile.twitter_url}}">Twitter</a>
            {% endif %}| 
            {% if post.author.profile.Github_url %}
            <a href="{{post.author.profile.Github_url}}">Github</a>
            {% endif %}| 
            {% if post.author.profile.linkedIn_url %}
            <a href="{{post.author.profile.linkedIn_url}}">LinkedIn</a>
            {% endif %}</p>
          <p class="card-text">{{post.author.profile.bio}}</p>
          
        </div>
      </div>
    </div>
  </div>

<h2>Comments</h2>
{% if not post.comments.all %}
No comments Yet....<a href="{& url 'add_comment' post.pk %}">Add One</a>
{% else %}
<a href="{% url 'add_comment' post.pk %}">Add Comment</a><br><br>

   {% for comment in post.comment.all %}
<strong>
{{comment.name}}-
{{comment.date_added}}
</strong>
<br/>
{{comment.body}}
{% endfor %}
{% endif %}<br>
<a href="{% url 'home' %}">Back</a>
{% if user.id == post.author.id %} Edit Delete {% endif %}


{% endblock %}